body {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #88C639;
    font-size: 40px;
}

.img-style {
    border-radius: 15px;
    border: 5px solid #88C639;
    max-width: 70vw;
}

.text {
    color: #162731;
}